body {
	background: #e7c497
}

#banner{
	width: 100%;
	width: 1900px;
	height: 650px;
}
h1{
	text-align: center
}


p {
	text-align: center;
}

em strong {
	color: #866322;
}

#beneficios{
	color:bisque ;
}
